.modal{ display:block; }

.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.table-bullshit{
    overflow: auto;
}

h3 {
	text-decoration: underline;
}

.unmet-requirements {
	width: 80%;
	position: relative;
	margin: auto;
	text-align: center;
}

.filters {
	width: 80%;
	position: relative;
	margin: auto;
	padding-top: 15px;

}

.tabClass {
	text-align: center;
	border: 3px solid #285797;
}

.courseDescriptors {
	position: relative;
	margin: auto;
	width: 50%;
	border: 3px solid #285797;
	text-align: left;
}

.filter-options {
	position: relative;
	margin: auto;
}

.header-group {
    position: relative;
    top: 0;
}

.header-top {
    position: relative;
    top: 0;
    bottom: 10px;
    background-color: #285797;
    border: 1px solid #285797;
    height: 60px;
}

.header-bottom {
    position: relative;
    height: 3px;
    background-color: #ee7c00;
}

.header-title {
    position: relative;
    text-align: left;
    color: white;
    font-family: Roboto,Arial,sans-serif;
    display: inline;
    left: 10px;
    top: 10px;
}

.schedule {
	position: relative;
	width: 80%;
	margin: auto;
	padding-top: 55px;
}

.potential-classes {
	position: relative;
	width:100%;
}

.searchResults {
	width: 80%;
	position: relative;
	margin: auto;
	text-align: center;
}

.schedule {
	width: 80%;
	position: relative;
	margin: auto;
	text-align: center;
}