.header-group {
    position: relative;
    top: 0;
    border: 1px solid orange;
}

.header-top {
    position: relative;
    top: 0;
    bottom: 10px;
    background-color: #285797;
    border: 1px solid blue;
}

.header-bottom {
    position: relative;
    height: 8px;
    background-color: #ee7c00;
}

.title-bar {
    position: relative;
    border: 1px solid green;
}

.header {
    position: relative;
    top: 0;
    left: 10px;
    font-size: 18px;
}

.header-title {
    position: relative;
    text-align: left;
    color: white;
    font-family: Roboto,Arial,sans-serif;
}

.chart-tabs {
    position: relative;
    top: 0;
    left: 20vw;
    width: 50vw;
    border: 1px solid #285797;
}

.chart {
    position: absolute;
    top: 6vh;
    left: 20vw;
    width: 50vw;
    height: 70vh;
    border: 1px solid #285797;
}

.chart-radio {
    position: absolute;
    top: 15vh;
    left: 4.4vw;
    border: 2px solid #ee7c00;
}

.chart-group {
    position: relative;
    border: 0;
    top: 1vh;
    height: 85vh;
    max-height: 85vh;
    width: 70vw;
    max-width: 70vw;
}

.feedback {
    position: absolute;
    border: 2px solid #285797;
    left: 72vw;
    top: 50vh;
    max-height: 25vh;
    max-width: 25vw;
}

.bio {
    position: absolute;
    border: 2px solid #285797;
    left: 72vw;
    top: 30vh;
    max-height: 25vh;
    max-width: 25vw;
}

.master_page {
    background-color: rgb(246, 244, 237);
}